*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #ddd;
}
 nav{   
    background-color: #00821e;
    text-align: right;
 }
 nav button{
   background-color: transparent;
   border: none;
   padding: 15px;
   cursor: pointer;
   font-size: 2em;
   color: #fff;
 }
 
 .container{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    padding: 40px 0;
 }

 .container .product{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 2px 10px #333;
 }
 .container .product .title{
    font-weight: 600;
    margin-bottom: auto;
 }
 .container .product img{
    height: 300px;
    width: 100%;
    object-fit: contain;
    margin: 20px 0;
 }
 .container .product .price{
    color: #333;
    padding: 10px 0;
 }
 .container .product button{
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
 }
.korzina{
   position: fixed;
   top:10px;
   left: 10px;
   right: 10px;
   bottom: 10px;
   background-color: #fff;
   padding: 50px;
}
.close{
   position: absolute;
   top: 20px;
   right: 20px;
   font-size: 3em;
   font-weight: bold;
}
.summa{
   width: 30%;
   display: flex;
   justify-content: space-between;
}
.hidden{
   display: none;
}